.SliderTrack {
  background: linear-gradient(90deg, #ce25ca 0%, #ea0e4e 97.37%);
  border-radius: 10px;
  height: 10px;

  &:first-child {
    z-index: 1;
    margin-left: 5px;
    margin-right: 10px;
  }

  &_selected {
    background: rgba(100, 100, 100, 0.25);
    margin-left: 5px;
    margin-right: 5px;
  }
}
