@import "../../styles/variables.scss";

.StorySdk-QuizOneAnswerWidget {
  width: 100%;

  &__title {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 32px;
    text-align: center;
    word-break: break-word;
    font-weight: 800;

    &_gradient {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
    }
  }

  &__answers {
    display: grid;
    gap: 10px;
  }

  &__answerTitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 123%;
    color: #000000;
    margin: 0;
    transition: 0.2s ease-out background-color;

    &_gradient {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
    }
  }

  &__answer {
    width: 100%;
    padding: 19px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.2s ease-out background-color;
    cursor: pointer;

    &:hover, &_selected {
      color: #ffffff !important;
      background-color: map-get($theme-colors, "black");

      .StorySdk-QuizOneAnswerWidget__answerTitle {
        color: #ffffff !important;
        background: none !important;
      }
    }

    &_selected {
      cursor: auto;
    }

    &:disabled {
      cursor: auto !important;
      pointer-events: none;
    }
  }
}