.StorySdk-EllipsWidget {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  &__background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
}

