@use "../../styles/variables.scss" as *;

.GroupSdkItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: center;
  padding: 0 5px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }

  &_view {

    &_circle,
    &_square {
      &:hover {
        .GroupSdkItem__title {
          color: #FD19CC;
        }
      }
    }

    &_circle.GroupSdkItem_chosen,
    &_square.GroupSdkItem_chosen {
      .GroupSdkItem__title {
        color: #FD19CC;
      }
    }

    &_bigSquare {
      width: 84px;
      padding: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    &_rectangle {
      width: 66px;
      padding: 0;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__outline {
    display: block !important;
    position: absolute;
    width: 94%;
    height: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-color: #E9E6E9;
    transition: 0.2s ease-out all;
    box-sizing: content-box !important;
    border-radius: 50%;

    &_view {
      &_square {
        border-radius: 10px;
      }

      &_bigSquare {
        border-radius: 10px;
      }

      &_rectangle {
        border-radius: 10px;
      }
    }
  }

  &_chosen,
  &:hover {
    .GroupSdkItem__outline_background {
      border: 2px solid transparent;
      background: linear-gradient(-45deg, #B90AE0, #FF0198) border-box;
      -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    .GroupSdkItem__outline {
      border-width: 2px;
      border-style: solid;
      border-color: #FD19CC;
    }
  }

  &__imgContainer {
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4px;

    &_view {
      &_square {
        &::after {
          border-radius: 10px;
        }
      }

      &_bigSquare {
        width: 84px;
        height: 84px;
        position: absolute;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 7px;
        }

        &::after {
          width: 95%;
          height: 95%;
          border-radius: 10px;
        }

      }

      &_rectangle {
        width: 66px;
        height: 84px;
        position: absolute;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 89%;
          height: 90%;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 7px;
        }

        &::after {
          width: 93%;
          height: 103%;

          border-radius: 10px;
        }
      }
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;

    &_view {
      &_square {
        border-radius: 7px;
      }

      &_bigSquare {
        width: 76px;
        height: 76px;
        border-radius: 7px;
      }

      &_rectangle {
        width: 58px;
        height: 76px;
        border-radius: 7px;
      }
    }
  }

  &__titleContainer {
    position: relative;
    width: 100%;
    overflow: hidden;

    &_view {
      &_bigSquare {
        height: 100%;
        padding: 5px 0;
        display: flex;
        align-items: flex-end;
      }

      &_rectangle {
        height: 100%;
        padding: 5px 0;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2em;
    margin: 0;
    color: #2B1E2A;
    word-break: break-word;
    transition: 0.2s ease-out all;
    max-height: 100%;
    text-align: center;

    &_view {
      &_bigSquare {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 10px;
        line-height: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        text-align: left;
        transform: none;
        text-overflow: ellipsis;
      }

      &_rectangle {
        overflow: hidden;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 8px;
        line-height: 1.5em;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        transform: none;
        text-overflow: ellipsis;
      }
    }
  }
}