.GroupsSdkList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  
  & * {
    box-sizing: border-box;
  }

  &__emptyText {
    margin: 0;
    color: #dddbde;
    text-align: center;
    padding: 8px;
  }

  &__carousel {
    display: flex;
    padding: 8px;
    min-height: 100px;
  }

  &__loaderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
  }

  &__carouselContent {
    display: flex;

    &_centered {
      justify-content: center;
    }
  }
}
