.GroupsSdkList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;

  & * {
    box-sizing: border-box;
  }

  &__emptyText {
    margin: 0;
    color: #dddbde;
    text-align: center;
    padding: 8px;
  }

  &__carousel {
    display: flex;
    min-height: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;

    &_loading {
      cursor: auto;
      pointer-events: none;
    }

    &_skeleton {
      position: absolute;
      top: 0;
      left: 5px;
      height: 100px;
    }

    &_centered {
      left: 50%;
      transform: translateX(-50%);
    }

    &_show {
      opacity: 1;
    }
  }

  &__loaderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: auto;
  }

  &__carouselContent {
    display: flex;
    position: relative;

    &_centered {
      justify-content: center;
    }
  }

  &__track {
    display: none;
  }
}