@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("./fonts/SFProText-Light.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("./fonts/SFProText-Regular.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("./fonts/SFProText-Bold.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("./fonts/SFProText-LightItalic.ttf") format('truetype');
  font-style: italic;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("./fonts/SFProText-RegularItalic.ttf") format('truetype');
  font-style: italic;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("./fonts/SFProText-BoldItalic.ttf") format('truetype');
  font-style: italic;
}

@font-face {
  font-family: "SF Compact Rounded";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SF-Compact-Rounded-Medium.otf") format('opentype');
}


@font-face {
  font-family: "SF Compact Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/SF-Compact-Rounded-Bold.otf") format('opentype');
}