@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("./fonts/SFProText-Light.woff2") format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("./fonts/SFProText-Regular.woff2") format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("./fonts/SFProText-Bold.woff2") format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("./fonts/SFProText-LightItalic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("./fonts/SFProText-RegularItalic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("./fonts/SFProText-BoldItalic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "SF Compact Rounded";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SFCompactRounded-Medium.woff2") format('woff2');
}

@font-face {
  font-family: "SF Compact Rounded";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/SFCompactRounded-Bold.woff2") format('woff2');
}