@keyframes indicator {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.StorySdkModal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;

  background: #18182E;
  // opacity: 0.9;
  justify-content: center;
  align-items: flex-start;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #18182E;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: 768px) {
    min-height: auto;
    align-items: center;
    // min-height: 694px;
    height: 100%;
  }

  &  * {
    box-sizing: border-box;
  }

  &_showed {
    display: flex;
    padding: 10px 0;
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 3;
    background: linear-gradient(0deg, rgb(24, 24, 46, 0) 0%, rgb(24, 24, 46, 0.1) 70%, rgba(24, 24, 46, 0.3) 100%);
  }

  &__body {
    position: relative;
    display: flex;
    z-index: 2;

    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      padding: 0;
      // max-width: 394px;
      // max-height: 512px;  

      // max-width: 501px;
      // max-height: 694px;
      justify-content: center;
    }
  
  }

  &__group {
    z-index: 99999;
    position: absolute;
    top: 20px;
    left: 8px;
    display: flex;
    align-items: center;
  }

  &__groupImgWrapper {
    width: 39px;
    height: 39px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(146.12deg, #FF0198 29.78%, #B90AE0 80.67%);

    @media (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }

  &__groupImg {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    max-height: 35px;

    border: 1px solid white;
    box-sizing: border-box;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      max-height: 31px;
    }
  }

  &__groupTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(24, 24, 46, 0.3);

    @media (min-width: 768px) {
      font-size: 13px;
    }
  }

  &__story {
    display: none;
  
    width: 100%;
    height: 100%;

    &_current {
      display: block;
    }
  }

  &__swiper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__swiperContent {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__indicator {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #fafafa29;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &_filled {
      background: #FAFAFA;
    }

    &_current::after {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      content: "";
      height: 4px;
      border-radius: 5px;
      background: #FAFAFA;
      animation: indicator 7s linear;
    }
  }

  &__indicators {
    z-index: 99999;
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0 8px;
    display: flex;
    box-sizing: border-box;

    &_stopAnimation {
      .StorySdkModal__indicator_current::after {
        animation-play-state: paused;
      }
    }
  }

  &__close {
    z-index: 99999;
    position: absolute;
    top: 18px;
    right: 8px;
    border: 0;
    padding: 0;
    background: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  &__navStories {
    position: absolute;
    top: 48px;

    &_next {
      right: 0;
    }

    &_preview {
      left: 0;
    }
  }

  &__arrowButton {
    display: flex;
    align-items: center;

    width: 15%;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    z-index: 999999;

    top: 70px;
    left: 0;
    height: 80%;

    &_right {
      right: 0;
      left: auto;
      justify-content: flex-end;
    }

    & > svg {
      display: none;
    }

    @media (min-width: 768px) {
      width: 72px;
      position: static;
      height: auto;

      & > svg {
        display: block;
      }
  
    }
  }
}
