@keyframes indicator {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.StorySdkModal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
  background: transparent;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Inter', Helvetica, sans-serif;
  user-select: none;

  * {
    user-select: none;
  }

  &__background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #18182E;
    top: 0;
    left: 0;
    z-index: 998;

    &_isShowing {
      display: block !important;
    }
  }

  &__arrowIcon {
    &_right {
      transform: rotate(180deg);
    }
  }

  @media (min-width: 768px) {
    min-height: auto;
    align-items: center;
    height: 100%;
  }

  & * {
    box-sizing: border-box;
  }

  &_isShowing {
    display: flex;
    justify-content: center;
    padding: 0;

    @media (min-width: 768px) {
      padding: 10px 0;
    }
  }

  &__controls {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 88px;
    gap: 8px;
    grid-template-areas: "indicators indicators"
      "group close";
    padding: 8px 8px 0;
  }

  &__loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__loaderIcon {
    animation: rotate 1.5s linear infinite;
    opacity: 0.5;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__body {
    position: relative;
    display: flex;
    z-index: 2;
    height: 100%;
    width: 100%;

    &_centered {
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: 768px) {
      width: auto;
      padding: 0;
      justify-content: center;
    }
  }

  &__bodyContainer {
    position: relative;
    opacity: 1;

    &_swiped {
      animation: swipe 0.6s ease;
    }

    @keyframes swipe {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &_black {
      &::after {
        z-index: -1;
        content: "";
        border-radius: inherit;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        height: 98%;
        width: 96%;
        background-color: #000000;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    grid-area: group;
  }

  &__statusBar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 16px;
  }

  &__bottomMockImg {
    width: 100%;
  }

  &__bottomMock {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  &__groupImgWrapper {
    width: 39px;
    height: 39px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(146.12deg, #FF0198 29.78%, #B90AE0 80.67%);

    @media (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }

  &__groupImg {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    max-height: 35px;
    border: 1px solid white;
    box-sizing: border-box;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      max-height: 31px;
    }
  }

  &__groupTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(24, 24, 46, 0.3);

    @media (min-width: 768px) {
      font-size: 13px;
    }
  }

  &__story {
    display: none;
    width: 100%;
    height: 100%;

    &_current {
      display: block;
    }
  }

  &__swiper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 768px) {
      border-radius: 0;
    }

    &_mockup {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_smallTop {
      top: 47.4%;
    }

    &_small {
      margin-top: -1px;
    }
  }

  &__swiperContent {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__indicator {
    display: block !important;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    animation-duration: 7s;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &_filled {
      background: rgba(255, 255, 255, 0.75);
    }

    &_current::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 2px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.75);
      animation-duration: inherit;
      animation-name: indicator;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: paused;
    }
  }

  &__indicators {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    grid-area: indicators;

    &_playAnimation {
      .StorySdkModal__indicator_current::after {
        animation-play-state: running;
      }
    }

    &_stopAnimation {
      .StorySdkModal__indicator_current::after {
        animation-play-state: paused;
      }
    }
  }

  &__closeContainer {
    top: 10px;
    right: 8px;
    position: absolute;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: 4px;

    @media (max-width: 768px) {
      top: 18px;
    }
  }

  &__topBtn {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__close {
    grid-area: close;
    border: 0;
    padding: 0;
    background: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    justify-self: flex-end;
  }

  &__rightTopContainer {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 8px;
    grid-area: close;
  }

  &__navStories {
    position: absolute;
    top: 48px;

    &_next {
      right: 0;
    }

    &_preview {
      left: 0;
    }
  }

  &__arrowButton {
    display: flex;
    align-items: center;
    width: 10%;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;

    &>svg {
      display: none;
    }

    @media (min-width: 768px) {
      width: 72px;
      height: 100%;
      top: 0;

      &>svg {
        display: block;
      }
    }

    &_left {
      left: 0;
      right: auto;
      justify-content: flex-start;

      @media (min-width: 768px) {
        left: -72px;
      }
    }

    &_right {
      right: 0;
      left: auto;
      justify-content: flex-end;

      @media (min-width: 768px) {
        right: -72px;
      }
    }
  }

  &__mockup {
    position: relative;
    z-index: 5;
    width: auto;
    height: 100%;
    pointer-events: none;
  }

  &__topContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 99999;
    flex-direction: column;
  }

  &__muteBtn {
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__muteBtnIcon {
    width: 20px;
    height: 20px;
  }

  &__playBtnIcon {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  &__label {
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: #05051D;
    border-radius: 8px;
    padding: 14px;
    gap: 14px;
    z-index: 2;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__labelTitle {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
  }

  &__labelText {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
  }

  &__labelTextContainer {
    display: flex;
    flex-direction: column;
  }
}