.SliderSdkThumb {
  color: #fff;
  cursor: grab;
  position: relative;
  transform: translateY(-30%);

  &__up {
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    margin-top: 0;
    //transition: 0.5s opacity ease;

    &_moved {
      opacity: 0;
      top: -100px !important;
      transition: 0.5s top ease, 0.5s opacity ease;
    }
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
