.StorySdkContent {
  display: block;
  background: #18182E;

  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 17.64%, rgba(0, 0, 0, 0) 82.22%, rgba(0, 0, 0, 0) 100%); 
    pointer-events: none;
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__scope {
    width: 1080px;
    height: 1920px;

    transform-origin: top left;
    position: relative;
    border-radius: 8px;
  }

  &__object {
    position: absolute;
    z-index: auto;
  }
}
